:root {
  --primary-color: #5791ba;
  --text-color: #000000;
  --background-color: #ffffff;
  --border-color: #ddd;
}

.rewards-container {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  border-radius: 8px;
  overflow: hidden; /* Ensure table has rounded corners */
}

.table th, .table td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid var(--border-color);
}

.table th {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.table tr:hover {
  background-color: rgba(87, 145, 186, 0.1); /* Subtle hover effect */
}

h2 {
  margin-top: 20px;
  font-size: 1.8em;
  font-weight: bold;
  color: var(--text-color);
  padding: 10px;
  border-bottom: 2px solid var(--primary-color);
}

h3 {
  color: var(--text-color);
  font-size: 1.4em;
  margin-bottom: 10px;
}
.loading-message {
  font-size: 32px; /* Adjust the size based on your preference */
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
  color: #000; /* You can customize the color as well */
}

/* App.css */

.error-message {
  color: #ff4d4d; /* Red color to indicate error */
  background-color: #ffe6e6; /* Light red background */
  border: 1px solid #ff0000; /* Red border to highlight the error */
  padding: 10px; /* Add padding around the error message */
  border-radius: 5px; /* Slightly rounded corners */
  font-size: 16px; /* Increase font size for readability */
  text-align: center; /* Center the error text */
  margin: 20px auto; /* Space around the message and center it */
  max-width: 600px; /* Limit the width of the message box */
  font-weight: bold; /* Bold the text to make it stand out */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for emphasis */
}
